.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 17px;
  row-gap: 20px;
  padding-top: 50px;
}

.card {
  width: 282px;
  height: 361px;
  background: #ffffff;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 21px;
  padding-right: 15px;
}

.card__text {
  height: 23px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__cora {
  width: 21px;
  height: 19px;
  background-image: url(../images/cora.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}

.card__cora:hover {
  width: 21;
  height: 19;
  top: 1019px;
  left: 282px;
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
